# Base de données PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=materialflow
POSTGRES_USER=mf_user
POSTGRES_PASSWORD=changeme

# Airflow
AIRFLOW_UID=50000

# API Open Food Facts (pas de clé nécessaire, mais on garde l'URL configurable)
OFF_API_BASE_URL=https://world.openfoodfacts.org/cgi/search.pl
OFF_REQUEST_TIMEOUT=30
